/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.top-form{
	-fx-background-color: #fff;
	-fx-border-color: #000;
	-fx-border-width: .4px .4px .2px .4px;
}
.top-semi-form{
	-fx-background-color: #efefef;
	-fx-border-color: #000;
	-fx-border-width: .2px .4px .8px .4px;
}
.nav-form{
	-fx-background-color: #6C757D;
}
.shedow{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5),6,0,0,0);
}
.white-bg{
	-fx-background-color: #fff;
	-fx-background-radius: 8px;
}
.round-red {
    -fx-background-color:
        radial-gradient(center 50% -40%, radius 200%, #7f9e9f 45%, #2c66bc 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.table-view {
	-fx-background-color:transparent;
	-fx-border-color:linear-gradient(to bottom right, #7f9e9f, #2c66bc);
	-fx-border-radius:8px;
	-fx-padding: 0px;
}
.table-view .table-column{
	-fx-alignment: CENTER;
}
.table-view .column-header-background{
	-fx-background-color:linear-gradient(to bottom right, #7f9e9f, #2c66bc);
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
	-fx-background-color:transparent;
	-fx-size: 40px;
	
}
.table-view .column-header, .label{
	-fx-text-fill: #fff;
	-fx-font-size: "Arial";
}
.lab{
	-fx-text-fill: #2c66bc;
}
.textfield{
	-fx-background-color:linear-gradient(to bottom, #efefef, #eee);
	-fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
	-fx-border-width: .5px;
	-fx-font-family: "Tahoma";
	-fx-border-radius: 4px;
}
.textfield:focused{
	-fx-border-width: 1.5px;
}
.recherche{
	-fx-background-color:transparent;
	-fx-border-color:linear-gradient(to bottom right, #272b3f, #2c66bc);
	-fx-border-radius: 4px;
	-fx-font-size: 13px;
	-fx-font-family: "Arial";
	-fx-border-width: 1px;
	-fx-padding: 0px 0px 0px 28px;
}
.recherche:focused{
	-fx-border-width: 2px;
}
.closeR {
    -fx-background-color: transparent;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #FFFFFF; /* Couleur du texte en blanc */
}